Repository concourse/concourse, pull requests merged in 2018-11, with the labels that each got.

#2761 Colorized diff output for Windows terminal.
  fly/commands/internal/setpipelinehelpers/atc_config.go
Labels: enhancement, windows

#2785 Teach Prometheus metric emitter to include job names in `builds_finished`
  atc/metric/emitter/prometheus.go
Labels: enhancement, metrics

#2799 fix checks_total metric has wrong label values
  atc/metric/emitter/prometheus.go
Labels: bug

#2771 Adds ./hack/trace script
  .github/CONTRIBUTING.md
  Dockerfile
  ci/dockerfiles/dev/Dockerfile
  hack/dlv/Dockerfile
  hack/trace
Labels: community/dev

#2868 fly: Add resources command to list all resources for given pipeline
  fly/commands/fly.go
  fly/commands/resources.go
  fly/integration/resources_test.go
  go-concourse/concourse/concoursefakes/fake_team.go
  go-concourse/concourse/resource.go
  go-concourse/concourse/resource_test.go
  go-concourse/concourse/team.go
Labels: enhancement, fly

#2869 atc: Adds missing worker state metric to prometheus emitter
  atc/metric/emitter/prometheus.go
  atc/metric/metrics.go
Labels: enhancement, metrics

#2871 speed up dev builds
  Dockerfile
Labels: community/dev

#2858 fly: Add timestamps to build logs that print out from watch command
  fly/commands/execute.go
  fly/commands/trigger_job.go
  fly/commands/watch.go
  fly/eventstream/render.go
  fly/eventstream/render_test.go
  fly/eventstream/renderer.go
  fly/eventstream/timestamped_writer.go
  fly/ui/colors.go
Labels: enhancement, fly

#2717 Added config params & retry logic for getting secrets. See #2542
  atc/atccmd/command.go
  atc/creds/manager.go
  atc/creds/retryable_variables_factory.go
  atc/creds/retryable_variables_factory_test.go
  go.mod
  go.sum
Labels: core/creds, enhancement, resiliency

#2879 Fix workers endpoint to show active_volumes
  atc/api/present/worker.go
  atc/api/workers_test.go
  atc/db/dbfakes/fake_worker.go
  atc/db/migration/migrations/1543350138_add_active_volume_to_workers.down.sql
  atc/db/migration/migrations/1543350138_add_active_volume_to_workers.up.sql
  atc/db/worker.go
  atc/db/worker_factory.go
  atc/db/worker_factory_test.go
  atc/worker/worker.go
  atc/worker/workerfakes/fake_worker.go
Labels: core/api, enhancement
