Repository concourse/concourse, pull requests merged in 2019-03, with the labels that each got.

#3400 web: made entire pipeline breadcrumb zone clickable
  web/elm/src/TopBar/Msgs.elm
  web/elm/src/TopBar/Styles.elm
  web/elm/src/TopBar/TopBar.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui

#3408 refactor worker rebalancing to fix draining
  atc/db/worker_factory.go
  atc/db/worker_factory_test.go
  cmd/concourse/worker.go
  go.mod
  topgun/atc_rebalance_test.go
  topgun/operations/worker-rebalancing.yml
  tsa/client.go
  tsa/cmd/tsa/register_test.go
  worker/beacon.go
  worker/beacon_runner.go
  worker/beacon_test.go
  worker/drain_runner.go
  worker/drain_runner_test.go
Labels: bug, release/no-impact

#3425 web: add 'yarn format' to format Elm code
  CONTRIBUTING.md
  package.json
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Msgs.elm
  web/elm/src/Dashboard/Group.elm
  web/elm/src/Dashboard/Msgs.elm
  web/elm/src/Job/Msgs.elm
  web/elm/src/NotFound.elm
  web/elm/src/Pipeline/Msgs.elm
  web/elm/src/Resource/Msgs.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/SubPageTests.elm
Labels: chore, web-ui

#3428 web: use a port for buildevents
  web/assets/css/notauthorized.less
  web/elm/src/Application/Application.elm
  web/elm/src/Application/Msgs.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Msgs.elm
  web/elm/src/Build/Output/Models.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Msgs.elm
  web/elm/src/Effects.elm
  web/elm/src/EventSource/EventSource.elm
  web/elm/src/EventSource/LowLevel.elm
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/FlySuccess/Models.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Job/Msgs.elm
  web/elm/src/Keycodes.elm
  web/elm/src/Main.elm
  web/elm/src/Native/EventSource.js
  web/elm/src/NotFound/Model.elm
  web/elm/src/NotFound/Msgs.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Msgs.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Resource/Msgs.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/SubPage/Msgs.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/Subscription.elm
  web/elm/src/TopBar/Model.elm
  web/elm/src/TopBar/Msgs.elm
  web/elm/src/TopBar/TopBar.elm
  web/elm/tests/ApplicationTests.elm
  web/elm/tests/BuildEventsTests.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/StepTreeTests.elm
  web/elm/tests/SubPageTests.elm
  web/elm/tests/TopBarTests.elm
  web/public/index.html
  web/wats/test/build.js
Labels: web-ui

#3454 web: Make networking a bit cleaner
  web/elm/src/Callback.elm
  web/elm/src/Concourse.elm
  web/elm/src/Concourse/BuildPlan.elm
  web/elm/src/Concourse/BuildPrep.elm
  web/elm/src/Concourse/Pagination.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Group.elm
  web/elm/src/Effects.elm
  web/elm/src/Favicon.elm
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/FlySuccess/Models.elm
  web/elm/src/FlySuccess/Text.elm
  web/elm/src/Network/Build.elm
  web/elm/src/Network/BuildPlan.elm
  web/elm/src/Network/BuildPrep.elm
  web/elm/src/Network/BuildResources.elm
  web/elm/src/Network/DashboardAPIData.elm
  web/elm/src/Network/FlyToken.elm
  web/elm/src/Network/Info.elm
  web/elm/src/Network/Job.elm
  web/elm/src/Network/Login.elm
  web/elm/src/Network/Pagination.elm
  web/elm/src/Network/Pipeline.elm
  web/elm/src/Network/Resource.elm
  web/elm/src/Network/Team.elm
  web/elm/src/Network/User.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/FlySuccessTests.elm
  web/elm/tests/PaginationTests.elm
Labels: web-ui

#3461 web: remove styled HTML
  web/elm/src/Build/Build.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/Job/Job.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Resource/Styles.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/TopBar/TopBar.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui

#3474 vault: configure a max elapsed time of 0
  atc/creds/vault/reauther.go
Labels: bug

#3345 web: better icons for unresolved step states
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/StepTreeTests.elm
  web/public/images/ic-cancelled.svg
  web/public/images/ic-interrupted.svg
  web/public/images/ic-pending.svg
Labels: web-ui

#3076 atc: replace per-worker state info by aggregated workers_registered metric
  atc/metric/emitter/prometheus.go
  atc/metric/metrics.go
Labels: enhancement, metrics

#3484 web: refactor spinner
  web/elm/src/Build/Build.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/LoadingIndicator.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Spinner.elm
  web/elm/tests/BuildTests.elm
Labels: refactor, web-ui

#3488 Incremental performance gain for LoadVersionsDB
  atc/db/pipeline.go
Labels: enhancement

#3500 web: switch notch circle to spinner in build prep
  web/assets/css/lib/font-awesome.min.css.less
  web/assets/css/main.less
  web/elm/src/Build/Build.elm
  web/elm/tests/BuildTests.elm
  web/public/fonts/FontAwesome.otf
  web/public/fonts/fontawesome-webfont.eot
  web/public/fonts/fontawesome-webfont.svg
  web/public/fonts/fontawesome-webfont.ttf
  web/public/fonts/fontawesome-webfont.woff
  web/public/fonts/fontawesome-webfont.woff2
Labels: web-ui

#3475 web: add pause button to top bar of pipeline view
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Msgs.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/Effects.elm
  web/elm/src/Network/Pipeline.elm
  web/elm/src/TopBar/Msgs.elm
  web/elm/src/TopBar/Styles.elm
  web/elm/src/TopBar/TopBar.elm
  web/elm/tests/ApplicationTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui

#3528 rename --tsa-peer-ip to --tsa-peer-address
  ci/tasks/scripts/check-distribution-env/bosh/ignored-in-concourse
  cmd/concourse/web.go
  tsa/README.md
  tsa/cmd/tsa/suite_test.go
  tsa/tsacmd/command.go
Labels: breaking

#3398 make values starts with https or http clickable in build metadata
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#3435 web: fix various dashboard search issues
  web/elm/src/Build/Build.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Footer.elm
  web/elm/src/Effects.elm
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Network/Job.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Msgs.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Routes.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/TopBar/Model.elm
  web/elm/src/TopBar/TopBar.elm
  web/elm/tests/DashboardSearchTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/SubPageTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui

#3550 web: fix watsjs dashboard test
  web/assets/css/dashboardhd.less
  web/assets/css/main.less
  web/wats/test/dashboard.js
Labels: web-ui

#3446 web: Refactor scrolling and reduce build page API calls
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Msgs.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/src/Effects.elm
  web/elm/src/Native/Scroll.js
  web/elm/src/Scroll.elm
  web/elm/src/Subscription.elm
  web/elm/tests/BuildTests.elm
  web/public/index.html
Labels: web-ui

#3464 clean up a few API error cases
  atc/api/config_test.go
  atc/api/configserver/get.go
  atc/api/configserver/save.go
  atc/config.go
  atc/responses.go
  atc/validate.go
  fly/commands/checklist.go
  fly/commands/get_pipeline.go
  fly/commands/internal/flaghelpers/job_flag.go
  fly/commands/internal/flaghelpers/resource_flag.go
  fly/commands/internal/setpipelinehelpers/atc_config.go
  fly/integration/checklist_test.go
  fly/integration/get_pipeline_test.go
  fly/integration/set_pipeline_test.go
  go-concourse/concourse/builds.go
  go-concourse/concourse/check_resource.go
  go-concourse/concourse/check_resource_test.go
  go-concourse/concourse/check_resource_type.go
  go-concourse/concourse/check_resource_type_test.go
  go-concourse/concourse/concoursefakes/fake_client.go
  go-concourse/concourse/concoursefakes/fake_team.go
  go-concourse/concourse/configs.go
  go-concourse/concourse/configs_test.go
  go-concourse/concourse/errors.go
  go-concourse/concourse/eventstream/eventstreamfakes/fake_event_stream.go
  go-concourse/concourse/internal/internalfakes/fake_connection.go
  go-concourse/concourse/jobs.go
  go-concourse/concourse/jobs_test.go
  go-concourse/concourse/resource.go
  go-concourse/concourse/resource_test.go
  go-concourse/concourse/team.go
  testflight/resource_type_check_test.go
Labels: core/api, enhancement

#3556 web: moved top level views files to their own directory
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Views/BuildDuration.elm
  web/elm/src/Views/DictView.elm
  web/elm/src/Views/Icon.elm
  web/elm/src/Views/LoadingIndicator.elm
  web/elm/src/Views/NotAuthorized.elm
  web/elm/src/Views/Spinner.elm
Labels: web-ui

#3629 remove flaky build page wats test
  web/wats/test/build.js
Labels: web-ui
