Repository concourse/concourse, pull requests merged in 2019-08, with the labels that each got.

#4164 web: add red border to failing steps
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Build/Styles.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#4034 iterate on port wiring without docker rebuilds
  web/public/elm-setup.js
  web/public/index.html
Labels: chore, release/no-impact, web-ui

#4250 web - add yellow border to running steps
  web/elm/src/Build/Styles.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#4280 web, atc, skymarshal: split large tokens across multiple cookies
  atc/api/auth/web_auth_handler.go
  atc/api/auth/web_auth_handler_test.go
  atc/atccmd/command.go
  skymarshal/skymarshal.go
  skymarshal/skyserver/skyserver.go
  skymarshal/skyserver/skyserver_suite_test.go
  skymarshal/skyserver/skyserver_test.go
  skymarshal/token/middleware.go
  skymarshal/token/middleware_test.go
  skymarshal/token/tokenfakes/fake_middleware.go
  web/indexhandler/handler.go
Labels: auth, bug, core/api

#4284 fly: when prompt a fly command to run, use full fly path the is invoked instead of just hardcode "fly".
  fly/commands/internal/setpipelinehelpers/atc_config.go
  fly/commands/internal/setpipelinehelpers/atc_config_test.go
  fly/integration/login_test.go
  fly/integration/set_pipeline_test.go
  fly/integration/version_test.go
  fly/main.go
  fly/rc/target.go
Labels: fly
