Repository concourse/concourse, pull requests merged in 2019-05, with the labels that each got.

#3732 web: remove dependence on elm/regex
  package.json
  web/elm/elm.json
  web/elm/src/Concourse.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/src/Network/Build.elm
  web/elm/src/Network/Pagination.elm
  web/elm/src/Network/Resource.elm
  web/elm/src/Routes.elm
  web/elm/tests/PaginationTests.elm
Labels: chore, refactor, web-ui

#3829 web: sidebar
  web/assets/css/layout.less
  web/assets/css/notfound.less
  web/assets/css/production.less
  web/elm/src/Application/Application.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Build/Styles.elm
  web/elm/src/Concourse/Cli.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Footer.elm
  web/elm/src/Dashboard/Group.elm
  web/elm/src/Dashboard/Group/Models.elm
  web/elm/src/Dashboard/Models.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/Dashboard/SearchBar.elm
  web/elm/src/Dashboard/Styles.elm
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Login/Login.elm
  web/elm/src/Message/Callback.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Message/Message.elm
  web/elm/src/Message/Subscription.elm
  web/elm/src/Network/Pipeline.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Resource/Styles.elm
  web/elm/src/SideBar/SideBar.elm
  web/elm/src/SideBar/Styles.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/Views/LoadingIndicator.elm
  web/elm/src/Views/PauseToggle.elm
  web/elm/src/Views/Spinner.elm
  web/elm/src/Views/Styles.elm
  web/elm/src/Views/TopBar.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/FlySuccessTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/SideBarTests.elm
  web/elm/tests/TopBarTests.elm
  web/public/images/baseline-keyboard-arrow-down-24px.svg
  web/public/images/baseline-keyboard-arrow-right-24px.svg
  web/public/images/baseline-menu-24px.svg
  web/public/images/baseline-people-24px.svg
  web/public/index.html
Labels: web-ui

#3836 web: tooltips on pause toggles
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Views/PauseToggle.elm
  web/elm/src/Views/Styles.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/PauseToggleTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui

#3854 web: sidebar feedback
  web/elm/src/Application/Application.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Build/Styles.elm
  web/elm/src/Colors.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/SearchBar.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Message/Subscription.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Session.elm
  web/elm/src/SideBar/SideBar.elm
  web/elm/src/SideBar/Styles.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/SideBarTests.elm
  web/public/index.html
Labels: web-ui

#3859 web: fix scrolling crash
  web/elm/src/Build/Build.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Message/Message.elm
  web/elm/src/Message/Subscription.elm
  web/elm/tests/BuildTests.elm
  web/public/index.html
Labels: web-ui

#3861 atc, web: replace flaky watsjs with unit tests
  CONTRIBUTING.md
  atc/builds/tracker.go
  atc/builds/tracker_test.go
  atc/db/build.go
  atc/db/build_test.go
  atc/db/dbfakes/fake_build.go
  atc/engine/builder/delegate_factory_test.go
  atc/engine/engine.go
  atc/engine/engine_test.go
  atc/engine/enginefakes/fake_engine.go
  atc/event/events.go
  web/elm/src/Build/Output/Models.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/tests/BuildTests.elm
  web/wats/test/build.js
Labels: core/api, web-ui

#2989 Retain job history
  atc/db/team.go
  atc/db/team_test.go
  atc/job_config.go
  testflight/fixtures/rename-simple.yml
  testflight/rename_job_test.go
Labels: enhancement

#3870 ci, web: fix dashboard preview performance
  CONTRIBUTING.md
  ci/pipelines/prs.yml
  ci/tasks/scripts/yarn-benchmark
  ci/tasks/yarn-benchmark.yml
  package.json
  web/elm/benchmarks/Benchmarks.elm
  web/elm/benchmarks/benchmark.js
  web/elm/elm.json
  web/elm/src/Dashboard/DashboardPreview.elm
  yarn.lock
Labels: web-ui

#3899 web: use autocomplete="off" on password input
  skymarshal/web/templates/password.html
  web/wats/test/login.js
Labels: web-ui

#3743 web: automatically add comment when pinning resource
  ci/tasks/yarn-benchmark.yml
  web/elm/src/Application/Application.elm
  web/elm/src/Application/Models.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/SearchBar.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Login/Login.elm
  web/elm/src/Main.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Session.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/tests/ApplicationTests.elm
  web/elm/tests/ResourceTests.elm
Labels: web-ui

#3898 web: fix attempt tabs on retry steps
  web/assets/css/main.less
  web/assets/css/retry.less
  web/elm/src/Application/Application.elm
  web/elm/src/Application/Models.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Build/Styles.elm
  web/elm/src/Colors.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Resource/Resource.elm
  web/elm/tests/BuildStepTests.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/Common.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/FlySuccessTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/SideBarTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui
