Repository concourse/concourse, pull requests merged in 2019-07, with the labels that each got.

#4064 fly -h & fly --help exits successfully
  fly/main.go
Labels: bug

#4032 improve sidebar
  web/assets/css/layout.less
  web/elm/benchmarks/Benchmarks.elm
  web/elm/src/Application/Application.elm
  web/elm/src/Application/Models.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/DashboardPreview.elm
  web/elm/src/Dashboard/Footer.elm
  web/elm/src/Dashboard/Group.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/HoverState.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Message/Callback.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/SideBar/Pipeline.elm
  web/elm/src/SideBar/SideBar.elm
  web/elm/src/SideBar/Styles.elm
  web/elm/src/SideBar/Team.elm
  web/elm/src/SideBar/Views.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/Views/Styles.elm
  web/elm/tests/SideBar/PipelineTests.elm
  web/elm/tests/SideBar/TeamTests.elm
  web/elm/tests/SideBarFeature.elm
  web/elm/tests/SideBarTests.elm
Labels: web-ui

#4136 fly: print help for subcommands
  fly/integration/help_test.go
  fly/main.go
Labels: bug, fly

#4184 web, wats: rework npm dependencies
  CONTRIBUTING.md
  package.json
  web/elm/benchmarks/benchmark.js
  web/wats/helpers/fly.js
  web/wats/helpers/palette.js
  web/wats/helpers/suite.js
  web/wats/helpers/web.js
  web/wats/package.json
  web/wats/test/build.js
  web/wats/test/dashboard.js
  web/wats/test/login.js
  web/wats/test/resource.js
  web/wats/test/smoke.js
  web/wats/yarn.lock
  yarn.lock
Labels: chore, release/no-impact

#4186 fly: maintain flyrc backwards compatibility
  fly/integration/login_test.go
  fly/rc/targets.go
Labels: bug, release/no-impact

#4088 fixed build log timestamps being off by one
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#4110 web: add Build.view to benchmark suite
  web/elm/benchmarks/Benchmarks.elm
Labels: chore, web-ui

#4129 web: fix lazy-rendering on build page
  web/elm/benchmarks/Benchmarks.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/StepTree.elm
Labels: release/no-impact, web-ui

#3037 Metric enhance: add team, tags for worker-volumes/worker-containers.
  atc/api/workerserver/heartbeat.go
  atc/api/workerserver/register.go
  atc/metric/emitter/prometheus.go
  atc/metric/metrics.go
Labels: enhancement, metrics
