Repository concourse/concourse, pull requests merged in 2019-04, with the labels that each got.

#3581 can set an icon on resources, and display it on pipeline and resource views
  atc/api/present/resource.go
  atc/config.go
  atc/db/dbfakes/fake_resource.go
  atc/db/resource.go
  atc/resource.go
  hack/update-mdi-svg
  package.json
  web/assets/css/production.less
  web/elm/src/Concourse.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Resource/Resource.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/ResourceTests.elm
  web/public/graph.js
  web/public/index.html
  web/public/index.js
  web/public/mdi-svg.min.js
  yarn.lock
Labels: web-ui

#3392 Build plan visibility
  atc/api/auth/check_build_read_access_handler.go
  atc/api/auth/check_build_read_access_handler_test.go
  atc/api/builds_test.go
  atc/db/dbfakes/fake_job.go
  atc/db/job.go
  atc/db/job_test.go
  atc/db/team_test.go
  atc/wrappa/api_auth_wrappa.go
  atc/wrappa/api_auth_wrappa_test.go
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Output/Models.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#3641 web: Add static analysis to CI and use elm 0.19 style for document title
  ci/pipelines/prs.yml
  ci/tasks/scripts/yarn-analyse
  ci/tasks/yarn-analyse.yml
  package.json
  web/elm/elm.json
  web/elm/src/Application/Application.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Concourse.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/DashboardPreview.elm
  web/elm/src/Dashboard/Footer.elm
  web/elm/src/Dashboard/Group.elm
  web/elm/src/Dashboard/Group/Tag.elm
  web/elm/src/Dashboard/Models.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/Dashboard/SearchBar.elm
  web/elm/src/Dashboard/Styles.elm
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/FlySuccess/Text.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Login/Login.elm
  web/elm/src/Main.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Message/Message.elm
  web/elm/src/Message/Subscription.elm
  web/elm/src/MonocleHelpers.elm
  web/elm/src/Network/DashboardAPIData.elm
  web/elm/src/Network/Info.elm
  web/elm/src/Network/Resource.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pinned.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Resource/Styles.elm
  web/elm/src/Routes.elm
  web/elm/src/ScreenSize.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/TopologicalSort.elm
  web/elm/src/Views/BuildDuration.elm
  web/elm/src/Views/NotAuthorized.elm
  web/elm/src/Views/PauseToggle.elm
  web/elm/src/Views/TopBar.elm
  web/elm/tests/ApplicationTests.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/Common.elm
  web/elm/tests/DashboardSearchTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/FlySuccessTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/StepTreeTests.elm
  web/elm/tests/TopBarTests.elm
  web/public/index.html
  yarn.lock
Labels: chore, refactor, web-ui

#3646 use elm/url to determine url when display URL metadata
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#3658 Fix build page for one-off builds with inputs/outputs
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Concourse.elm
  web/elm/src/Network/BuildPlan.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#3659 web: a couple fixes for resource icons
  web/elm/src/Resource/Resource.elm
  web/elm/tests/ResourceTests.elm
  web/public/index.js
Labels: web-ui

#3653 web: add hover state to job groups
  web/elm/src/Colors.elm
  web/elm/src/Message/Message.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Pipeline/Styles.elm
  web/elm/src/Routes.elm
  web/elm/tests/PipelineTests.elm
Labels: web-ui

#3666 web: show breadcrumbs on job build visited by id
  web/elm/src/Build/Build.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#3665 web: make breadcrumbs links
  web/elm/src/Views/TopBar.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui

#3639 Update ci pipeline k8s - Run smoke and topgun in parallel with the k8s-check-helm-params task
  ci/pipelines/concourse.yml
  ci/pipelines/release.yml
Labels: k8s

#3664 web: handle timezones
  web/assets/css/build.less
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Message/Callback.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Views/BuildDuration.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/ResourceTests.elm
Labels: web-ui

#3673 web: fix "status: running" filter
  package.json
  web/elm/elm.json
  web/elm/src/Concourse.elm
  web/elm/src/Concourse/PipelineStatus.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Filter.elm
  web/elm/src/Dashboard/SearchBar.elm
  web/elm/src/Resource/Resource.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/DashboardSearchTests.elm
Labels: web-ui

#3592 web: fix top padding on pipeline page
  web/assets/css/layout.less
  web/assets/css/production.less
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Styles.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Job/Styles.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Pipeline/Styles.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/Resource/Styles.elm
  web/elm/src/Views/Styles.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
Labels: web-ui

#3579 display task duration on finished tasks
  atc/engine/get_delegate.go
  atc/engine/put_delegate.go
  atc/event/events.go
  atc/event/parser.go
  atc/event/types.go
  atc/exec/execfakes/fake_get_delegate.go
  atc/exec/execfakes/fake_put_delegate.go
  atc/exec/get_step.go
  atc/exec/put_step.go
  web/elm/src/Build/Output/Output.elm
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/src/Build/Styles.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/src/Message/Message.elm
  web/elm/src/Views/Icon.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/StepTreeTests.elm
Labels: web-ui

#3692 web: fix styles on groups bar
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Pipeline/Styles.elm
  web/elm/tests/PipelineTests.elm
Labels: web-ui

#3723 ci: ignore CONCOURSE_TSA_PEER_ADDRESS in k8s-check-helm-params
  ci/tasks/scripts/check-distribution-env/helm/ignored-in-concourse
Labels: k8s
