Repository concourse/concourse, pull requests merged in 2019-02, with the labels that each got.

#3200 web: add `yarn analyse` to do some static analysis
  CONTRIBUTING.md
  package.json
  yarn.lock
Labels: dependency, enhancement

#3175 Add ORDER BY for resourceTypesQuery and resourcesQuery
  atc/db/pipeline.go
  atc/db/team_test.go
Labels: core/api, enhancement

#3216 atc: fix growing stack on process reattach
  atc/worker/retryable_garden_connection.go
Labels: bug, resiliency

#3147 atc, web: Adds pin commenting
  atc/api/accessor/accessor.go
  atc/api/handler.go
  atc/api/resources_test.go
  atc/api/resourceserver/set_pin_comment.go
  atc/db/dbfakes/fake_resource.go
  atc/db/migration/migrations/1548349925_separate_pins_from_resources.down.sql
  atc/db/migration/migrations/1548349925_separate_pins_from_resources.up.sql
  atc/db/resource.go
  atc/db/resource_test.go
  atc/db/team.go
  atc/resource_pin_comment.go
  atc/routes.go
  atc/wrappa/api_auth_wrappa.go
  atc/wrappa/api_auth_wrappa_test.go
  go.mod
  web/elm/src/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Msgs.elm
  web/elm/src/Build/Output.elm
  web/elm/src/Build/StepTree.elm
  web/elm/src/Callback.elm
  web/elm/src/Colors.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/src/Concourse/Resource.elm
  web/elm/src/Dashboard.elm
  web/elm/src/DictView.elm
  web/elm/src/Effects.elm
  web/elm/src/Job.elm
  web/elm/src/Keycodes.elm
  web/elm/src/Layout.elm
  web/elm/src/Main.elm
  web/elm/src/Msgs.elm
  web/elm/src/Pinned.elm
  web/elm/src/Resource.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Resource/Msgs.elm
  web/elm/src/Resource/Styles.elm
  web/elm/src/Subscription.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/StepTreeTests.elm
Labels: core/api, web-ui

#3210 atc: fix syslog leaking goroutines
  atc/syslog/drainer.go
Labels: bug

#3234 Continue acquiring resource scanning lock
  atc/db/dbfakes/fake_resource_config_scope.go
  atc/db/resource_config_scope.go
  atc/db/resource_config_scope_test.go
  atc/radar/resource_scanner.go
  atc/radar/resource_scanner_test.go
  atc/radar/resource_type_scanner.go
  atc/radar/resource_type_scanner_test.go
Labels: core/scheduling, enhancement

#3244 Web: navigation now (almost) all passes through routes rather than string construction
  web/elm/src/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Msgs.elm
  web/elm/src/Build/Output.elm
  web/elm/src/Build/StepTree.elm
  web/elm/src/Dashboard.elm
  web/elm/src/Dashboard/Footer.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/DashboardPreview.elm
  web/elm/src/Effects.elm
  web/elm/src/Job.elm
  web/elm/src/Job/Msgs.elm
  web/elm/src/Layout.elm
  web/elm/src/Msgs.elm
  web/elm/src/NewestTopBar.elm
  web/elm/src/Resource.elm
  web/elm/src/Resource/Msgs.elm
  web/elm/src/Routes.elm
  web/elm/src/TopBar.elm
  web/elm/src/TopBar/Msgs.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/NewestTopBarTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/StepTreeTests.elm
  web/elm/tests/TopBarTests.elm
Labels: web-ui

#3242 web: fix call stack crash
  web/elm/src/Build/Output.elm
  web/elm/src/Concourse/BuildEvents.elm
  web/elm/src/Native/EventSource.js
  web/elm/tests/BuildEventsTests.elm
Labels: web-ui

#3193 Fix issue #3164: Squishing of build-step output
  web/assets/css/production.less
Labels: web-ui

#3277 web: clean up routes
  web/elm/src/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Dashboard.elm
  web/elm/src/FlySuccess.elm
  web/elm/src/Job.elm
  web/elm/src/Layout.elm
  web/elm/src/NewestTopBar.elm
  web/elm/src/Pipeline.elm
  web/elm/src/Resource.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Routes.elm
  web/elm/src/SubPage.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/NewestTopBarTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/SubPageTests.elm
Labels: web-ui

#3280 Properly handles empty slice of put inputs
  atc/config.go
  atc/exec/garden_factory.go
  atc/plan.go
  atc/scheduler/factory/build_factory.go
  atc/scheduler/factory/factory_put_test.go
  testflight/fixtures/put-inputs.yml
  testflight/put_inputs_test.go
Labels: release/no-impact

#3162 show date in build header instead of relative time
  web/assets/css/build.less
  web/elm/src/BuildDuration.elm
Labels: web-ui

#3291 Permanent unique version history for base types
  atc/db/base_resource_type.go
  atc/db/worker_resource_type_test.go
  versions.go
Labels: release/no-impact

#3319 atc/worker/: Add log to check if container lock is used
  atc/worker/container_provider.go
Labels: vito pls

#3294 web: fix styles on group bar
  web/assets/css/layout.less
  web/elm/src/Application/Application.elm
  web/elm/src/Colors.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Pipeline/Styles.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/tests/PipelineTests.elm
Labels: web-ui

#3340 web: fix autoscroll on build page
  web/assets/css/layout.less
  web/wats/package.json
  web/wats/test/build.js
  web/wats/yarn.lock
Labels: web-ui

#3341 Standardize the userinfo response
  skymarshal/skyserver/skyserver.go
  skymarshal/skyserver/skyserver_test.go
Labels: bug

#3333 use github notion on build history start/finish timestamp
  web/elm/src/BuildDuration.elm
Labels: web-ui

#3349 web: add tests and formatting
  web/elm/src/BuildDuration.elm
  web/elm/tests/BuildTests.elm
Labels: web-ui

#3351 web: fix layout/size of "no results" text on dashboard
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Styles.elm
  web/elm/tests/DashboardSearchTests.elm
Labels: web-ui
