Repository concourse/concourse, pull requests merged in 2019-09, with the labels that each got.

#4328 use JSON unmarshal for job config, switch to sigs.k8s.io/yaml
  atc/api/config_test.go
  atc/api/configserver/save.go
  atc/config_test.go
  atc/container_limits_marshaller_test.go
  atc/creds/eval.go
  atc/db/job.go
  atc/exec/task_config_source.go
  atc/exec/task_config_source_test.go
  atc/task.go
  fly/commands/format_pipeline.go
  fly/commands/get_pipeline.go
  fly/commands/internal/setpipelinehelpers/atc_config.go
  fly/commands/internal/setpipelinehelpers/diff.go
  fly/commands/internal/templatehelpers/yaml_template.go
  fly/commands/internal/validatepipelinehelpers/validate.go
  fly/commands/volumes.go
  fly/integration/get_pipeline_test.go
  fly/integration/get_team_test.go
  fly/integration/set_pipeline_test.go
  fly/rc/target_test.go
  fly/rc/targets.go
  go-concourse/concourse/configs_test.go
  go.mod
  go.sum
  skymarshal/skycmd/flags.go
  topgun/credhub_test.go
  vars/template_resolver_test.go
Labels: regression, release/no-impact

#4355 adding styling to scrollbars
  release-notes/v5.5.0.md
  web/assets/css/globals.less
Labels: release/documented

#4374 adding mount table fix release-notes
  release-notes/v5.5.0.md
Labels: release/documented

#4375 atc: fix ListAllPipelines ordering
  atc/db/pipeline_factory.go
  atc/db/pipeline_factory_test.go
  atc/db/team.go
  atc/db/team_test.go
  release-notes/v5.5.0.md
Labels: release/documented

#4335 CSS change to create sticky step headers on scroll
  release-notes/v5.5.0.md
  web/assets/css/production.less
Labels: release/documented

#4387 Include cluster name in log line.
  atc/atccmd/command.go
  cmd/concourse/web.go
  tsa/tsacmd/command.go
Labels: logging

#4433 Fix pipelines test
  atc/api/pipelines_test.go
  atc/db/dbfakes/fake_check_lifecycle.go
  atc/db/dbfakes/fake_checkable.go
  atc/db/dbfakes/fake_resource_config_scope.go
  atc/db/dbfakes/fake_team.go
Labels: release/no-impact

#4432 Fix split topgun
  topgun/both/atc_shutdown_test.go
  topgun/both/both_suite_test.go
  topgun/both/build_container_gc_test.go
  topgun/both/hijack_container_gc_test.go
  topgun/both/image_artifact_test.go
  topgun/both/image_resource_gc_test.go
  topgun/both/pipeline_destroyed_test.go
  topgun/both/resource_check_test.go
  topgun/both/resource_containers_gc_test.go
  topgun/both/resource_types_test.go
  topgun/both/resource_volumes_gc_test.go
  topgun/both/volume_gc_test.go
  topgun/both/worker_landing_test.go
  topgun/both/worker_retiring_test.go
  topgun/both/worker_stalling_test.go
  topgun/common/common.go
  topgun/core/atc_login_session_test.go
  topgun/core/aws_ssm_test.go
  topgun/core/containers_scoped_to_team_test.go
  topgun/core/core_suite_test.go
  topgun/core/credhub_test.go
  topgun/core/creds_test.go
  topgun/core/database_encryption_test.go
  topgun/core/syslog_test.go
  topgun/core/unique_versions_test.go
  topgun/core/vault_test.go
  topgun/pcf/bbr_test.go
  topgun/pcf/pcf_suite_test.go
  topgun/runtime/atc_rebalance_test.go
  topgun/runtime/default_limits_test.go
  topgun/runtime/ephemeral_worker_test.go
  topgun/runtime/http_proxy_test.go
  topgun/runtime/placement_strategy_test.go
  topgun/runtime/resource_certs_test.go
  topgun/runtime/runtime_suite_test.go
  topgun/runtime/worker_failing_test.go
Labels: release/no-impact

#4452 Fix topgun by exposing more common variables
  topgun/both/both_suite_test.go
  topgun/common/common.go
  topgun/core/atc_login_session_test.go
  topgun/core/aws_ssm_test.go
  topgun/core/containers_scoped_to_team_test.go
  topgun/core/core_suite_test.go
  topgun/core/credhub_test.go
  topgun/core/creds_test.go
  topgun/core/database_encryption_test.go
  topgun/core/syslog_test.go
  topgun/core/unique_versions_test.go
  topgun/core/vault_test.go
  topgun/fly.go
  topgun/pcf/bbr_test.go
  topgun/pcf/pcf_suite_test.go
  topgun/runtime/runtime_suite_test.go
Labels: release/no-impact

#4423 web: distinguish browser error from network error
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/FlySuccess/Models.elm
  web/elm/src/FlySuccess/Text.elm
  web/elm/src/Message/Callback.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Message/Message.elm
  web/elm/src/Message/Subscription.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/UserState.elm
  web/elm/tests/Common.elm
  web/elm/tests/FlySuccessTests.elm
  web/elm/tests/SubscriptionTests.elm
  web/elm/tests/UserStateTests.elm
  web/public/elm-setup.js
Labels: web-ui

#4439 fly, web: fly token listener redirects back to noop success page
  atc/api/config_test.go
  atc/api/configserver/save.go
  atc/exec/step.go
  atc/exec/task_config_source.go
  atc/exec/task_config_source_test.go
  fly/commands/internal/setpipelinehelpers/diff.go
  fly/commands/login.go
  fly/integration/get_pipeline_test.go
  fly/integration/get_team_test.go
  fly/integration/login_test.go
  fly/integration/set_pipeline_test.go
  fly/rc/target_test.go
  release-notes/v5.6.0.md
  skymarshal/skycmd/flags.go
  topgun/both/build_container_gc_test.go
  topgun/both/pipeline_destroyed_test.go
  topgun/both/resource_check_test.go
  topgun/both/resource_containers_gc_test.go
  topgun/both/resource_types_test.go
  topgun/both/volume_gc_test.go
  topgun/core/containers_scoped_to_team_test.go
  topgun/runtime/default_limits_test.go
  topgun/runtime/ephemeral_worker_test.go
  topgun/runtime/http_proxy_test.go
  topgun/runtime/placement_strategy_test.go
  topgun/runtime/resource_certs_test.go
  topgun/runtime/worker_failing_test.go
  vars/template_resolver_test.go
  vars/vars_tracker.go
  web/elm/src/FlySuccess/FlySuccess.elm
  web/elm/src/FlySuccess/Models.elm
  web/elm/src/FlySuccess/Text.elm
  web/elm/src/Routes.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/src/Views/Styles.elm
  web/elm/tests/ApplicationTests.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/Common.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/FlySuccessFeature.elm
  web/elm/tests/FlySuccessTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/RoutesTests.elm
  web/elm/tests/SideBarFeature.elm
  web/elm/tests/SideBarTests.elm
  web/wats/test/login.js
Labels: web-ui

#4404 Add a timeout when acquiring mutex lock
  atc/db/lock/lock.go
  atc/db/lock/lock_test.go
Labels: release/no-impact

#4481 feat(fly): add "age" column to "fly workers" command.
  fly/commands/workers.go
  fly/integration/workers_test.go
  release-notes/v5.6.0.md
Labels: enhancement, fly

#4486 Revert mutex lock timeout
  atc/db/lock/lock.go
  atc/db/lock/lock_test.go
Labels: release/no-impact

#4490 nit: fixed a typo in release-notes/v5.6.0.md.
  release-notes/v5.6.0.md
Labels: release/no-impact

#4487 web: Poll check endpoint while resource check in progress
  web/elm/src/Concourse.elm
  web/elm/src/Message/Callback.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/Network/Resource.elm
  web/elm/src/Resource/Models.elm
  web/elm/src/Resource/Resource.elm
  web/elm/tests/Data.elm
  web/elm/tests/ResourceTests.elm
Labels: web-ui

#4503 Fixed the flake 'fly workers' test.
  fly/integration/workers_test.go
Labels: flake, fly

#4498 add doc for get step version pinning
  release-notes/v5.6.0.md
Labels: release/no-impact

#4495 finalize release notes for v5.6.0
  release-notes/v5.6.0.md
Labels: release/no-impact

#4398 feat: strengthen secret redaction to handle split secrets.
  atc/engine/builder/delegate_factory.go
  atc/engine/builder/delegate_factory_test.go
Labels: enhancement, logging

#4529 web: fix GetCheck api route
  web/elm/src/Message/Effects.elm
  web/elm/src/Network/Resource.elm
  web/elm/src/Resource/Resource.elm
  web/elm/tests/ResourceTests.elm
Labels: bug, release/no-impact, web-ui
