Repository concourse/concourse, pull requests merged in 2019-06, with the labels that each got.

#3718 web: dashboard job preview of paused job is blue
  web/assets/css/dashboard.less
  web/elm/benchmarks/Benchmarks.elm
  web/elm/src/Colors.elm
  web/elm/src/Dashboard/DashboardPreview.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/Dashboard/Styles.elm
  web/elm/src/Message/Message.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/Common.elm
  web/elm/tests/DashboardPreviewTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/PipelineTests.elm
  web/elm/tests/ResourceTests.elm
Labels: web-ui

#4004 use clean-css 4.x via cli instead of less plugin
  package.json
  yarn.lock
Labels: chore, web-ui

#3922 atc: add aborting for a pending build
  atc/api/builds_test.go
  atc/api/buildserver/plan.go
  atc/db/build.go
  atc/db/build_test.go
  atc/db/dbfakes/fake_build.go
  atc/scheduler/buildstarter.go
  atc/scheduler/buildstarter_test.go
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Build/Styles.elm
  web/elm/src/Colors.elm
  web/elm/tests/BuildTests.elm
Labels: core/api, web-ui

#4047 remove dependence on `stringstream` (via `less`)
  package.json
  yarn.lock
Labels: chore, release/no-impact, web-ui

#4050 fixed momentum scrolling on ios
  web/elm/src/Build/Styles.elm
  web/elm/src/Dashboard/Styles.elm
  web/elm/src/SideBar/Styles.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/SideBarTests.elm
Labels: web-ui

#4058 web: collapse build steps by default
  web/assets/css/production.less
  web/elm/src/Build/StepTree/Models.elm
  web/elm/src/Build/StepTree/StepTree.elm
  web/elm/tests/BuildTests.elm
  web/elm/tests/StepTreeTests.elm
  web/wats/test/build.js
Labels: web-ui
