Repository concourse/concourse, pull requests merged in 2020-01, with the labels that each got.

#4977 web: fix build-history-tab-switching bug
  web/elm/benchmarks/Benchmarks.elm
  web/elm/src/Application/Application.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Build/Header/Header.elm
  web/elm/src/Build/Header/Models.elm
  web/elm/src/Build/Models.elm
  web/elm/src/Concourse.elm
  web/elm/src/Message/Callback.elm
  web/elm/src/Message/Effects.elm
  web/elm/tests/Build/HeaderTests.elm
  web/elm/tests/BuildTests.elm
Labels: bug, release/no-impact, web-ui

#4970 Enlarge font size in build prep status list
  release-notes/v5.8.0.md
  web/elm/src/Build/Build.elm
  web/elm/tests/BuildTests.elm
Labels: enhancement, release/documented, web-ui

#4979 add release note for `var_sources`
  release-notes/v5.8.0.md
Labels: release/no-impact

#4982 notes: warn that var_sources is experimental
  release-notes/v5.8.0.md
Labels: release/no-impact

#5023 web: dashboard no longer piles on slow API requests
  release-notes/latest.md
  web/assets/css/dashboard.less
  web/elm/benchmarks/Benchmarks.elm
  web/elm/elm.json
  web/elm/src/Application/Application.elm
  web/elm/src/Application/Models.elm
  web/elm/src/Build/Build.elm
  web/elm/src/Concourse.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Details.elm
  web/elm/src/Dashboard/Drag.elm
  web/elm/src/Dashboard/Filter.elm
  web/elm/src/Dashboard/Footer.elm
  web/elm/src/Dashboard/Group.elm
  web/elm/src/Dashboard/Group/Models.elm
  web/elm/src/Dashboard/Models.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/Dashboard/RequestBuffer.elm
  web/elm/src/Dashboard/SearchBar.elm
  web/elm/src/Job/Job.elm
  web/elm/src/Login/Login.elm
  web/elm/src/Message/Callback.elm
  web/elm/src/Message/Effects.elm
  web/elm/src/MonocleHelpers.elm
  web/elm/src/Network/DashboardAPIData.elm
  web/elm/src/Network/Pipeline.elm
  web/elm/src/Network/Resource.elm
  web/elm/src/NotFound/NotFound.elm
  web/elm/src/Pipeline/Pipeline.elm
  web/elm/src/Resource/Resource.elm
  web/elm/src/SideBar/SideBar.elm
  web/elm/src/SubPage/SubPage.elm
  web/elm/tests/Build/HeaderTests.elm
  web/elm/tests/Common.elm
  web/elm/tests/DashboardPreviewTests.elm
  web/elm/tests/DashboardSearchTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/DragAndDropTests.elm
  web/elm/tests/DragTests.elm
  web/elm/tests/JobTests.elm
  web/elm/tests/PipelineCardTests.elm
  web/elm/tests/RequestBufferTests.elm
  web/elm/tests/ResourceTests.elm
  web/elm/tests/SideBarFeature.elm
  web/elm/tests/TopBarTests.elm
  web/elm/tests/WelcomeCardTests.elm
Labels: bug, web-ui

#5065 topgun/k8s: improve tls termination flake
  topgun/fly.go
  topgun/k8s/https_web_tls_termination_test.go
Labels: chore, flake, release/no-impact

#5079 atc algorithm: fix non-deterministic version order
  atc/db/versions_db.go
  atc/scheduler/algorithm/algorithm_test.go
  atc/scheduler/algorithm/compute.go
  atc/scheduler/algorithm/table_helpers_test.go
Labels: release/no-impact
