Repository concourse/concourse, pull requests merged in 2020-04, with the labels that each got.

#5370 web: behaviour: don't render archived pipelines
  web/elm/src/Concourse.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Group/Models.elm
  web/elm/tests/DashboardArchiveTests.elm
  web/elm/tests/Data.elm
Labels: enhancement, web-ui

#5387 core/fly: add archive pipeline endpoint, backend functions, and fly command
  atc/api/accessor/roles.go
  atc/api/api_suite_test.go
  atc/api/config_test.go
  atc/api/configserver/get.go
  atc/api/handler.go
  atc/api/pipelines_test.go
  atc/api/pipelineserver/archive.go
  atc/api/pipelineserver/archive_test.go
  atc/api/pipelineserver/pipelineserverfakes/fake_logger.go
  atc/api/pipelineserver/server.go
  atc/api/pipelineserver/unpause.go
  atc/api/pipelineserver/unpause_test.go
  atc/api/present/pipeline.go
  atc/atccmd/command.go
  atc/auditor/auditor.go
  atc/db/conflict.go
  atc/db/dbfakes/fake_conflict.go
  atc/db/dbfakes/fake_pipeline.go
  atc/db/migration/migrations/1584564140_add_archived_to_pipelines.down.sql
  atc/db/migration/migrations/1584564140_add_archived_to_pipelines.up.sql
  atc/db/pipeline.go
  atc/db/pipeline_test.go
  atc/db/team.go
  atc/db/team_test.go
  atc/integration/archiving_test.go
  atc/routes.go
  atc/wrappa/api_auth_wrappa.go
  atc/wrappa/api_auth_wrappa_test.go
  docker-compose.yml
  fly/commands/archive_pipeline.go
  fly/commands/fly.go
  fly/commands/pause_pipeline.go
  fly/commands/pipelines.go
  fly/commands/unpause_pipeline.go
  fly/integration/archive_pipeline_test.go
  fly/integration/pause_pipeline_test.go
  fly/integration/pipelines_test.go
  fly/integration/unpause_pipeline_test.go
  go-concourse/concourse/concoursefakes/fake_team.go
  go-concourse/concourse/pipelines.go
  go-concourse/concourse/pipelines_test.go
  go-concourse/concourse/team.go
  release-notes/latest.md
Labels: core, enhancement, fly

#5472 [5.5.x] web: behaviour: do not pile on dashboard API calls
  release-notes/v5.5.11.md
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Models.elm
  web/elm/tests/DashboardTests.elm
Labels: backport, bug, web-ui

#5484 [5.5.x] add concurrency-limiting
  Dockerfile
  atc/api/api_suite_test.go
  atc/api/handler.go
  atc/api/jobserver/list_all.go
  atc/api/jobserver/server.go
  atc/atccmd/command.go
  atc/atccmd/command_test.go
  atc/integration/concurrent_request_limits_test.go
  atc/metric/counter.go
  atc/metric/emitter/newrelic.go
  atc/metric/emitter/prometheus.go
  atc/metric/metrics.go
  atc/metric/periodic.go
  atc/metric/periodic_test.go
  atc/routes.go
  atc/wrappa/concurrent_request_limits_wrappa.go
  atc/wrappa/concurrent_request_limits_wrappa_test.go
  atc/wrappa/concurrent_request_policy.go
  atc/wrappa/concurrent_request_policy_test.go
  atc/wrappa/pool.go
  atc/wrappa/wrappafakes/fake_concurrent_request_policy.go
  atc/wrappa/wrappafakes/fake_pool.go
  cmd/concourse/concourse_test.go
  go.mod
  go.sum
  hack/dlv/Dockerfile
  hack/overrides/prometheus.yml
  release-notes/v5.5.11.md
Labels: backport, core/api, enhancement, release/documented

#5483 web: [5.5.x] handle concurrency limit errors gracefully
  web/elm/src/Application/Application.elm
  web/elm/src/Colors.elm
  web/elm/src/Concourse.elm
  web/elm/src/Concourse/PipelineStatus.elm
  web/elm/src/Dashboard/Dashboard.elm
  web/elm/src/Dashboard/Footer.elm
  web/elm/src/Dashboard/Group.elm
  web/elm/src/Dashboard/Pipeline.elm
  web/elm/src/Network/DashboardAPIData.elm
  web/elm/tests/DashboardPreviewTests.elm
  web/elm/tests/DashboardSearchTests.elm
  web/elm/tests/DashboardTests.elm
  web/elm/tests/SideBarFeature.elm
  web/elm/tests/TopBarTests.elm
Labels: backport, enhancement, release/undocumented, web-ui

#5479 db: remove IF NOT EXISTS from archive migration
  atc/db/migration/migrations/1584564140_add_archived_to_pipelines.up.sql
  release-notes/latest.md
Labels: bug

#5491 Dockerfile: set key env vars after generating keys
  Dockerfile
Labels: chore, release/no-impact
